table, td, th {
    border: 2px solid grey;
}

table {
    border-spacing: 0;
}

th{
    background-color: rgb(34, 34, 34);
    color: grey;
}
td,
th {
    padding: 10px;
}


.text-centre {
    text-align: center ;
}
/*#labelName,*/
/*#labelage {*/
/*    color: blue;*/
/* }*/

/*.red {*/
/*    color: green;*/
/*}*/

/*.big {*/
/*    font-weight: 700;*/
/*    font-size: 20px;*/
/*}*/